<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-wdith, -scale=1.0" />
    <title>Navigation Menu Demo</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <a href="/" class="logo">CARS</a>
      <nav>
        <ul>
          <li>
            <a
              href="/"
              class="cta"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/questionair"
              class="cta"
              >Questionair</a
            >
          </li>
          <li>
            <a
              href="/table"
              class="cta"
              >Table</a
            >
          </li>
        </ul>
      </nav>
      <script>
  // Get the current page URL
  var currentPage = window.location.pathname;

  // Select all navigation links
  var navLinks = document.querySelectorAll('nav a');

  // Loop through each link and add 'active' class to the matching link
  navLinks.forEach(function(link) {
    if (link.getAttribute('href') === currentPage) {
      link.classList.add('active'); // Add active class to the matching link
    }
  });
</script>
    </header>