@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10%;
  background-color: #212f3d;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-weight: 900;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-left: 5px;
  margin-right: 5px;
}

nav ul li a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  border-radius: 1px;
}

nav ul li a:hover {
  color: #dc7633;
}

.cta {
  background-color: #dc7633;
  color: #fff;
}

.cta:hover {
  background-color: #d35400;
  color: #fff;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template: 1fr 232px / repeat(3, 491px);
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-container .item-1 { 
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-content: center;
}

.item-1 img {
  width: 80%;
}

.bottom {
  display: flex;
  align-items: stretch;
  max-width: 90%;
  margin: auto;
  background: LightGrey;
}

.title div {
  display: inline-block;
  background: #f9e79f;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
}

@media (max-width: 700px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    max-width: 70%;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 97%;
  }

  nav ul {
    flex-direction: column;
  }
}
