<%- include("/home/ddd/coding/my-project/views/partials/header.ejs") %>
    <h3>Something</h3>
    <div class="container">
      <img src="" id="forImg" height="600px"/>
    </div>
    <div class="text-container">
      <p>
      </p>
    </div>
    <script src="/home/ddd/uni/programming/Project/program.js"></script>
  </body>
</html>
