<%- include("partials/header.ejs") %>
    <h3>Something</h3>
    <div class="container-page">
      <img src="" id="forImg" height="600px"/>
    </div>
    <div class="text-container">
      <p>
      </p>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
